.Info {
    margin: 100px 400px 0 400px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.Info .Card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}

.Info .Card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
