.AdminHeader {
    padding-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: solid 1px #cccccc;
    background-color: #4e4e99;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.AdminHeader a {
    font-weight: 600;
    font-style: normal;
    color: #b9b9cc;
    padding: 5px 10px;
    margin: 0 35px;
    text-decoration: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
}

.AdminHeader a:hover {
    background-color: #4e9af1;
}

.logo {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.logo_text_admin {
    color: white;
    font-size: 17px;
    margin-left: 5px;
    display: inline-block;
}

.fce {
    display: inline-block;
}

.logout_button_admin {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    /*color: #b9b9cc*/;
    font-style: normal;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    /*background-color: #4e9af1*/;
    display: inline-block;
    margin-right: 10px;
    background-color: #428bca;
    color: white;
}

.header_right {
    float: right;
    display: inline-block;
}

.AdminHeader a {
    /*font-family: sans-serif;*/
    font-weight: 600;
    font-style: normal;
    color: #b9b9cc;
    padding: 5px 10px;
    margin: 0 35px;
    text-decoration: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
}
