.edit_thread_button {
    padding: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    font-weight: normal;
    font-size: 17px;
    background-color: #428bca;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}
