.Forum .Card {
    background-color: blue;
}

.create_new_thread {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 2px;
    font-weight: bold;
    color: #29262d;
    background-color: #b8b8d6;
}

.title_percentage {
    font-size: 19px;
    width: 70%;
    float: left;
    margin-bottom: 3px;
    display: inline-block;
    font-weight: bold;
}
.author_percentage {
    font-size: 19px;
    width: 10%;
    float: left;
    margin-bottom: 3px;
    display: inline-block;
    font-weight: bold;
}

.date_percentage {
    font-size: 19px;
    width: 10%;
    float: left;
    margin-bottom: 3px;
    display: inline-block;
    font-weight: bold;
    margin-right: 80px;
}

.empty_line_to_fix_design {
    display: inline-block;
    width: 10%;
    height: 0%;
}

.create_thread_input {
    font-size: 5px;
    color: black;
    padding-top: 10px;
    margin-bottom: 1px;
    margin-top: 5px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #e8ebef;
    margin-bottom: 10px;
    margin-top: 5px;
}

.new_thread_button {
    background-color: #f9b848;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 3px;
    margin-bottom: 18px;
    margin-left: 2px;
    font-family: 'Roboto', sans-serif;
}

.new_thread_button:hover {
    background-color: #fcc362;
    cursor: pointer;
    color: white;
}

.new_thread_card {
    padding: 0 3px;
    background-color: #c5c5d8;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
